
<table class="table -striped">
<thead    class="thead-dark"> 
    <th>stdId</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Of Birth</th>
    <th>Father Name</th>
    <th>Mother Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone Number</th>
</thead>
<tbody>
    <tr *ngFor="let student of student">
    <td>{{student.stdId}}</td>
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.dob}}</td>
    <td>{{student.fatherName}}</td>
    <td>{{student.motherName}}</td>
    <td>{{student.address}}</td>
    <td>{{student.city}}</td>
    <td>{{student.phoneNo}}</td>
    
</tr>
</tbody>
</table>
<!-- <h2>Registration_List</h2>
<table class="table -striped">
<thead    class="thead-dark"> 

    <th>title</th>
    <th>Display_Name</th>
    <th>First_Name</th>
    <th>Last_Name</th>
    <th>Father_Name</th>
    <th>Date_Of_Birth</th>
    <th>Email_Id</th>
    <th>Gender</th>
    <th>Contact_Number</th>
    <th>Blood_Group</th>
    <th>Year_Of_passing</th>
    <th>Current_backlogs</th>
    <th>Date_Of_Joining</th>
    <th>Experience</th>
    <th>Current_Address</th>
    <th>C_state</th>
    <th>C_District</th>
    <th>C_pincode</th>
    <th>Permanent_Address</th>
    <th>P_state</th>
    <th>P_District</th>
    <th>P_pincode</th>
    <th>Highest_Qualification</th>
    <th>Percentage</th>
    <th>Branch</th>
    <th>KeySkills</th>
    <th>RegistrationId</th>
    <th>Nationality</th>
    <th>BoardOfSsc</th>
    <th>SSC_Passed_Out</th>
    <th>SSC_Percentage</th>
    <th>BoardOfInter</th>
    <th>Inter_Passed_Out</th>
    <th>Inter_Percentage</th>
    <th>Vaccination</th>
    <th>Designation</th>
    <th>Department</th>
    <th>Course_completion</th>
    <th>SSC_HallTicket_Number</th>
    <th>Inter_Hallticket_Number</th>
    </thead>

<tbody>
    <tr *ngFor ="let registration of registration">
        <td>{{registration.title}}</td>
        <td>{{registration.displayName}}</td>
        <td>{{registration.firstName}}</td>
        <td>{{registration.lastName}}</td>
        <td>{{registration.fatherName}}</td>
        <td>{{registration.dateOfBirth}}</td>
        <td>{{registration.emailId}}</td>
        <td>{{registration.gender}}</td>
        <td>{{registration.contactNumber}}</td>
        <td>{{registration.bloodGroup}}</td>
        <td>{{registration.yearOfPassing}}</td>
        <td>{{registration.currentBacklogs}}</td>
        <td>{{registration.dateJoining}}</td>
        <td>{{registration.experience}}</td>
        <td>{{registration.currentAddress}}</td>
        <td>{{registration.cState}}</td>
        <td>{{registration.cDistrict}}</td>
        <td>{{registration.cPincode}}</td>
        <td>{{registration.permanentAddress}}</td>
        <td>{{registration.pState}}</td>
        <td>{{registration.pDistrict}}</td>
        <td>{{registration.pPincode}}</td>
        <td>{{registration.highestQualification}}</td>
        <td>{{registration.percentage}}</td>
        <td>{{registration.branch}}</td>
        <td>{{registration.key_skills}}</td>
        <td>{{registration.regId}}</td>
        <td>{{registration.nationality}}</td>
        <td>{{registration.boardofssc}}</td>
        <td>{{registration.sscPassedOut}}</td>
        <td>{{registration.sscPercentage}}</td>
        <td>{{registration.boardofinter}}</td>
        <td>{{registration.interPercentage}}</td>
        <td>{{registration.interPassedOut}}</td>
        <td>{{registration.vaccination}}</td>
        <td>{{registration.designation}}</td>
         <td>{{registration.department}}</td>
         <td>{{registration.courseComplition}}</td>
         <td>{{registration.sscHallticket}}</td>
         <td>{{registration.interHallticket}}</td>

         
        
        </tr>
</tbody>
</table> -->