
<thead class="thead-dark"></thead>
<!-- <div class="form-group">
  <label>Name</label><br>
 <input type="text" class="formcontrol" id="name"
  [(ngModel)]="product.name" name="name">
</div> -->



<form (ngSubmit)="onSubmit()">
  <div class="form-group">
      
    <label>Student_Id</label><br>
     <input type="text" class="formcontrol" id="stdId"
        [(ngModel)]="student.stdId"  name="stdId">
    </div>
    
     
    <div class="form-group">
        <label>FirstName</label><br>
        <input type="text" class="formcontrol"  id="firstName"
        [(ngModel)]="student.firstName"  name="firstName">
    </div>
  
  
    <div class="form-group">
        <label>LastName</label><br>
        <input type="text" class="formcontrol" id="lastName"
        [(ngModel)]="student.lastName"  name="lastName"  placeholder="Enter your last name" >
   
    
   </div>
        <div class="form-group ">
        
        <label>DateOfBirth</label><br>
        <input type="Date" class="formcontrol" name="dob"
        [(ngModel)]="student.dob">
       
       </div>
       
       <div class="form-group">
       
        <label>FatherName</label><br>
        <input type="text" class="formcontrol" id="fatherName"
        [(ngModel)]="student.fatherName"  name="fatherName">
    </div>
    
    <div class="form-group">
    
      <label>MotherName</label><br>
        <input type="text" class="formcontrol" id="motherName"
        [(ngModel)]="student.motherName"  name="motherName">
    </div>
    
    <div class="form-group ">
        
          <label>Address</label><br>
            <input type="text" class="formcontrol" id="address"
            [(ngModel)]="student.address"  name="address">
        </div>
        
        <div class="form-group ">
        <label>City</label><br>
                <input type="text" class="formcontrol" id="city"
                [(ngModel)]="student.city"  name="city">
            </div>
            
            <div class="form-group ">
            
                  <label>PhoneNumber</label><br>
                    <input type="text" class="formcontrol" id="phoneNo"
                    [(ngModel)]="student.phoneNo"  name="phoneNo">
                </div>
                

                <button class="btn btn-success" type="submit"style="background-color:green">submit</button>&nbsp;
       
                <button (click)="goToStudentList()" class="btn btn-cancel"  class="btn btn-danger" type="cancel"style="background-color:red(0,45,128)">cancel</button>
            </form>
        




